@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #1c1e53;
    transition: color 0.3s ease;
}

a:hover {
    color: #5e3bee !important;
}

h5 {
    font-size: 20px;
}

li {
    list-style: none;
}

nav {
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
}

nav .logo,
footer .logo {
    display: flex;
    align-items: center;
}

nav .logo a,
footer .logo a {
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

nav .logo img,
footer .logo img {
    width: 40px;
    height: 40px;
}

nav ul,
footer .top ul {
    display: flex;
    gap: 40px;
}

nav button {
    color: #1c1e53;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #1c1e53;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover {
    background-color: #5e3bee;
    border-color: #5e3bee;
    color: #fff;
}

nav button#menuButton {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}

.main {
    background-color: #deebee;
    padding: 90px 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.main .left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main .left h3 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 46px;
}

.main .left h3 span {
    color: #5e3bee;
}

.main .left p {
    color: #1c1e53;
    font-size: 22px;
    margin-top: 20px;
}

.main .left button {
    margin-top: 40px;
    color: #fff;
    cursor: pointer;
    background-color: #5e3bee;
    padding: 14px 24px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.main .right img {
    width: 500px;
}

.skills {
    padding: 110px 85px 0;
}

.skills h3,
.about .right h3,
.portfolio .header h3,
.feedback h3 {
    font-size: 40px;
    margin-top: 20px;
}

.skills .skill-items {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.skills .skill-items .item {
    background-color: #deebee;
    width: 25%;
    border-radius: 10px;
    padding: 32px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skills .skill-items .item:hover {
    border-color: #5e3bee;
}

.skills .skill-items .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 46px;
    height: 46px;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.skills .skill-items .item .icon i {
    font-size: 26px;
    color: #006b6a;
}

.skills .skill-items .item h4,
.portfolio .portfo-items .item .info h4 {
    font-size: 18px;
}

.skills .skill-items .item p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #1c1e53;
}

.about {
    padding: 110px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.about .left {
    background-color: #deebee;
    border-radius: 10px 10px 0 0;
}

.about .left img {
    width: 440px;
}

.about .right p {
    font-size: 16px;
    margin-top: 30px;
}

.portfolio {
    background-color: #deebee;
    padding: 110px 85px;
}

.portfolio .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.portfolio .header button {
    background-color: #ff0000;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    border: none;
    border-radius: 10px;
}

.portfolio .header button i {
    font-size: 26px;
}

.portfolio .portfo-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio .portfo-items .item {
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.portfolio .portfo-items .item:hover {
    border-color: #5e3bee;
}

.portfolio .portfo-items .item img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px 10px 20px 20px;
}

.portfolio .portfo-items .item .info {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 32px 42px;
}

.portfolio .portfo-items .item .info p {
    font-size: 13px;
}

.portfolio .portfo-items .item .info a {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #5e3bee;
}

.portfolio .portfo-items .item .info a i {
    margin-left: 2px;
    font-size: 16px;
}

.feedback {
    padding: 110px 85px;
}

.feedback .customers {
    margin-top: 50px;
    display: flex;
    gap: 40px;
}

.feedback .customers .item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #006b6a;
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.feedback .customers .item .rating {
    color: #006b6a;
    font-size: 22px;
}

.feedback .customers .item:hover {
    border-color: #5e3bee;
}

.feedback .customers .item p {
    line-height: 22px;
    font-size: 14px;
}

.feedback .customers .item .user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feedback .customers .item .user img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .customers .item .user h5 {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 3px;
}

.feedback .customers .item .user p {
    font-size: 12px;
}

footer {
    background-color: #deebee;
    padding: 85px;
    display: flex;
    flex-direction: column;
}

footer .top,
footer .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .top .social-links {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
}

footer .separator {
    width: 100%;
    height: 1px;
    background-color: #282938;
    margin: 30px 0 20px;
}

footer .bottom p {
    font-size: 12px;
}

footer .bottom .links a {
    font-size: 12px;
    margin-left: 14px;
}

@media screen and (max-width: 1200px) {

    .main .left h5 {
        font-size: 18px;
    }

    .main .left h3 {
        font-size: 36px;
    }

    .main .left p {
        font-size: 18px;
    }

    .main .right img {
        width: 380px;
    }

    .skills .skill-items {
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .skills .skill-items .item {
        width: 49%;
    }

    .about .left img {
        width: 370px;
    }

    .skills h3,
    .about .right h3,
    .portfolio .header h3,
    .feedback h3 {
        font-size: 32px;
    }

    .about .right p {
        font-size: 15px;
    }

    .feedback .customers .item .rating {
        font-size: 20px;
    }

    .feedback .customers .item p {
        font-size: 13px;
    }

    footer .top ul {
        gap: 20px;
    }

}

@media screen and (max-width: 992px) {

    nav button {
        display: none;
    }

    nav ul {
        gap: 20px;
    }

    nav ul li a {
        font-size: 15px;
    }

    .main {
        flex-direction: column;
    }

    .about {
        flex-direction: column;
        justify-content: center;
    }

    .portfolio .portfo-items {
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio .portfo-items .item {
        width: 48%;
    }

    .feedback .customers {
        gap: 14px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .feedback .customers .item {
        width: 48%;
    }

    footer .top ul {
        display: none;
    }

}

@media screen and (max-width: 768px) {

    nav {
        justify-content: space-between;
        padding: 0 42px;
    }

    nav ul {
        display: none;
    }

    nav.open .logo {
        display: none;
    }

    nav.open ul {
        display: flex;
    }

    nav button#menuButton {
        display: flex;
    }

    .main {
        padding: 42px;
    }

    .skills {
        padding: 85px 42px 0;
    }

    .skills .skill-items {
        gap: 8px;
    }

    .about {
        padding: 85px 42px;
    }

    .portfolio {
        padding: 60px 42px;
    }

    .portfolio .portfo-items {
        gap: 18px;
    }

    .feedback {
        padding: 85px 42px;
    }

    footer {
        padding: 85px 42px;
    }

    footer .bottom {
        flex-direction: column-reverse;
        gap: 14px;
    }

}

@media screen and (max-width: 576px) {

    nav ul li a {
        font-size: 13px;
    }

    nav .logo a {
        font-size: 18px;
    }

    .main .left h3 {
        font-size: 32px;
    }

    .main .left p {
        font-size: 16px;
    }

    .main .left button {
        width: 100%;
    }

    .skills .skill-items .item {
        width: 100%;
    }

    .portfolio .header button {
        font-size: 12px;
        padding: 8px 14px;
    }

    .portfolio .portfo-items .item {
        width: 80%;
    }

    .feedback .customers .item {
        width: 100%;
    }

}

.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
    --stroke: #666;
    --fill: #ffc73a;
}

.rating input {
    appearance: unset;
}

.rating label {
    cursor: pointer;
}

.rating svg {
    width: 2rem;
    height: 2rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
    from {
        stroke-dashoffset: 24;
    }
}

.rating label:hover svg {
    stroke: var(--fill);
}

.rating input:checked~label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
}

@keyframes yippee {
    0% {
        transform: scale(1);
        fill: var(--fill);
        fill-opacity: 0;
        stroke-opacity: 1;
        stroke: var(--stroke);
        stroke-dasharray: 10;
        stroke-width: 1px;
        stroke-linejoin: bevel;
    }

    30% {
        transform: scale(0);
        fill: var(--fill);
        fill-opacity: 0;
        stroke-opacity: 1;
        stroke: var(--stroke);
        stroke-dasharray: 10;
        stroke-width: 1px;
        stroke-linejoin: bevel;
    }

    30.1% {
        stroke: var(--fill);
        stroke-dasharray: 0;
        stroke-linejoin: miter;
        stroke-width: 8px;
    }

    60% {
        transform: scale(1.2);
        fill: var(--fill);
    }
}

/* Գույների հիմնական փոփոխականներ */
:root {
    --bg-color: #ffffff;
    --text-color: #111111;
    --section-bg: #f3f3f3;
    --card-bg: #ffffff;
    --accent-color: #0077ff;
}

/* Մութ ռեժիմ */
body.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
    --section-bg: #1e1e1e;
    --card-bg: #2a2a2a;
    --accent-color: #00b7ff;
}

/* Հիմնական ֆոն և տեքստ */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background 0.4s, color 0.4s;
}

/* Օրինակ `nav`, `.item`, `.about`, և այլ տարրերի վրա կիրառել փոփոխականները */
nav,
.main,
.skills,
.about,
.portfolio,
.feedback,
footer,
.item {
    background-color: var(--card-bg);
    color: var(--text-color);
    transition: background 0.4s, color 0.4s;
}

/* Որպեսզի icon-ները, hover-ները մնան տեսանելի */
a,
button,
h3,
h4,
h5 {
    color: var(--text-color);
}

/* Theme Switch */
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2.2em;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2a2a2a;
    transition: 0.4s;
    border-radius: 30px;
    overflow: hidden;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 20px;
    left: 0.5em;
    bottom: 0.5em;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
    box-shadow: inset 8px -4px 0px 0px #fff;
}

.switch input:checked+.slider {
    background-color: #00a6ff;
}

.switch input:checked+.slider:before {
    transform: translateX(1.8em);
    box-shadow: inset 15px -4px 0px 15px #ffcf48;
}

.star {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    width: 5px;
    transition: all 0.4s;
    height: 5px;
}

.star_1 {
    left: 2.5em;
    top: 0.5em;
}

.star_2 {
    left: 2.2em;
    top: 1.2em;
}

.star_3 {
    left: 3em;
    top: 0.9em;
}

.switch input:checked~.slider .star {
    opacity: 0;
}

.cloud {
    width: 3.5em;
    position: absolute;
    bottom: -1.4em;
    left: -1.1em;
    opacity: 0;
    transition: all 0.4s;
}

.switch input:checked~.slider .cloud {
    opacity: 1;
}

.typewriter {
    overflow: hidden;
    border-right: 2px solid #00f7ff;
    white-space: nowrap;
    letter-spacing: 2px;
    animation: typing 3s steps(25, end), blink 0.75s step-end infinite;
    width: 0;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}